@charset "UTF-8";

root{
    --cor1: #000000;
}

*{
    margin: 0px;
    padding: 4px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(36deg, rgb(212, 237, 100), rgb(255, 186, 186));
    height: 100%;
}
img{
    display: block;
}
#p1{
    font-weight: 500;
}
#p2{
    font-style: oblique;
}
#p3{
    text-decoration: overline;
}
#p4{
    font: normal 600 30px 'Gothic';
    text-indent: 2em;
}
#teste-box-level{
    padding: 4px;
    border: 2px solid black;
    margin: 3px;
    outline: 3px dashed rgb(255, 137, 137);
}
#nicolas-com-sombra{
    margin-left: 30px;
    box-shadow: 3px 5px 3px rgba(128, 0, 128, 0.492);
}
#nicolas-borda-arredondada{
    margin-left: 30px;
    border-radius: 7px;
}
#nicolas-bolota{
    margin-left: 30px;
    border-radius: 50%;
}
#nicolas-decorado{
    margin-left: 30px;
    border: 21px solid black;
    border-image-source: url(../imagens/nicholas-cage-209x300.jpg);
    border-image-slice: 104;
    border-image-repeat: repeat;
}
#container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.089);
    padding: 30px;
    width: 500px;
    height: 255px;
    margin: auto;
}
#contido{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
