@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: aqua;
    width: 500px;
    height: 300px;
    position: relative;
    margin: auto;
}
#contido{
    background-color: rgb(128, 43, 43);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tudomai{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.enchendo-linguica{
    width: 200px;
    font-size: larger;
}
#ibagem{
    background-image: url(../2/imagens/900628.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 300px;
}
table{
    border-collapse: collapse;
    text-align: center;
    overflow-x: scroll;
}
.tabela td{
    border: 1px solid black;
    padding: 4px;
    width: 100px;
    height: 100px;

}
.tabela th{
    border: 1px solid black;
    padding: 4px;
    text-align: center;

}